body {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    margin: 0%;
}

.banner {
    background-image: url(donate-today-main/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.help {
    color: white;
    font-size: 65px;
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 9%;
    font-weight: bolder;
    line-height: .80in;
}

.p-1 {
    color: white;
    width: 35%;
    margin: auto;
    font-size: 17px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 500;
    line-height: 28px;
}

.donate-now {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    background-color: red;
    margin-left: 9in;
    padding: 14px 25px;
    border-radius: 5px;
    text-shadow: .5px .5px .5px rgb(233, 230, 230);
}

.resize {
    padding-bottom: 9%;
}

.donate-today {
    font-size: 45px;
    width: 40%;
    margin: auto;
    padding-top: 1.1in;
    padding-bottom: 10px;
    text-align: center;
}

.p-2 {
    font-size: 17px;
    font-weight: bolder;
    color: rgb(104, 103, 103);
    width: 40%;
    margin: auto;
    font-size: 17px;
    text-align: center;
    padding-bottom: 35px;
    font-weight: 500;
    line-height: 28px;
    font-weight: 400;
}

.money {
    color: rgb(97, 97, 97);
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    padding: 35px 1px;
    margin: 10px;
    width: 8%
}

.red {
    color: red;
    background-color: rgb(248, 224, 224);
    border: 2px solid red;
}

.flexible-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.taka {
    font-size: 18px;
    color: rgb(165, 164, 164);
    padding-top: 30px;
    text-align: center;
}

.input-amount {
    text-align: center;
}

input {
    padding: 5px;
    font-size: 20px;
}

hr {
    width: 50%;
    color: gray;
}

.donate-now-2 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    background-color: red;
    margin-left: 9in;
    padding: 14px 25px;
    border-radius: 5px;
}

.donate-plan {
    font-size: 40px;
    margin: 0;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 1%;
}

.p-3 {
    font-size: 17px;
    font-weight: bold;
    color: rgb(172, 172, 172);
    width: 40%;
    margin: auto;
    text-align: center;
    padding-bottom: 35px;
    line-height: 28px;
}

.service-container {
    margin-top: 3%;
}

.title-1 {
    font-size: 22px;
}

.p-4 {
    font-size: 13px;
}

.service-container {
    display: flex;
    margin-left: 26%;
    text-align: left;
    margin-bottom: 2.5%;
}

.card {
    height: 280px;
    width: 260px;
    padding: 20px;
    background-color: rgb(232, 248, 248);
    border-radius: 5px;
    margin-right: 1%;
}

.h-6 {
    font-size: 20px;
}

.icon1 {
    width: 50px;
}

.card-description {
    padding: 1.9%;
}

.donate {
    display: flex;
}

.h5 {
    font-size: 25px;
    padding-left: 400px;
    margin-left: 10%;
    width: 30%;
    font-weight: 900;
    line-height: 38px;
    text-shadow: 1px solid gray;
}

.p-5 {
    padding-left: 400px;
    font-size: 15px;
    margin-left: 10%;
    width: 30%;
}

.donate-1 {
    width: 70%;
    padding-top: 1%;
}

.donate-pic img {
    margin-top: 3%;
    width: 40%;
    height: 80%;
    border-radius: 10px;
}

.how-to-contribute {
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    background-color: red;
    margin-left: 46%;
    padding: 13px 13px;
    border-radius: 5px;
    text-shadow: 10px solid red;
}

.donate-text {
    margin-top: 80px;
}

#green {
    color: rgb(11, 192, 11);
}

.green-lives {
    text-align: center;
    margin-top: 5%;
}

.how-container {
    display: flex;
    margin: 0%;
    justify-content: space-evenly;
    margin-top: 5%;
    background-color: rgb(231, 250, 237);
    padding: 3%;
}

.blood {
    font-size: 20px;
    text-align: center;
}

.clothes {
    font-size: 20px;
    text-align: center;
}

.clothes-pic {
    width: 33%;
}

.education {
    font-size: 20px;
    text-align: center;
}

.get-my-updates {
    margin-top: 5%;
    font-size: 45px;
    text-align: center;
}

.p-7 {
    font-size: 18px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5%;
}

.input-email-section {
    text-align: center;
    background-color: blanchedalmond;
    margin-left: 600px;
    margin-right: 600px;
    padding-bottom: 100px;
    border-radius: 10px;
}

.subs-button {
    background-color: red;
    padding-top: 17px;
    padding-bottom: 14px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.email-box {
    margin-top: 15%;
    background-color: rgb(233, 231, 231);
    padding: 16px;
    border-radius: 5px;
}

.footer-1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: red;
}

.footer-text {
    font-size: 10px;
    text-align: center;
    padding-top: 5px;
    color: white;
}

.footer-info {
    background-color: black;
    height: 100px;
    padding-top: 25px;
    margin-top: 5%;
}